version: '3.4'

services:

  front:
    image: "mailu/nginx:latest"
    env_file: .env
    networks:
      - traefik
    ports:
    - "0.0.0.0:8443:443"
    - "0.0.0.0:110:110"
    - "0.0.0.0:143:143"
    - "0.0.0.0:993:993"
    - "0.0.0.0:995:995"
    - "0.0.0.0:25:25"
    - "0.0.0.0:465:465"
    - "0.0.0.0:587:587"
    volumes:
      - "/mailu/certs:/certs"
    deploy:
      placement:
        constraints:
          - "node.role == worker"
          - "node.labels.environment == prod"
          - "node.labels.purpose == mail"
  redis:
    image: redis:alpine
    volumes:
      - "/mailu/redis:/data"
    deploy:
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"

  imap:
    image: "mailu/dovecot:latest"
    env_file: .env
    networks:
      - traefik
    volumes:
      - "/mailu/data:/data"
      - "/mailu/mail:/mail"
      - "/mailu/overrides:/overrides"
    deploy:
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"
    depends_on:
      - front

  smtp:
    image: "mailu/postfix:latest"
    env_file: .env
    networks:
      - traefik
    volumes:
      - "/mailu/data:/data"
      - "/mailu/overrides:/overrides"
    deploy:
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"
    depends_on:
      - front

  antispam:
    image: "mailu/rspamd:latest"
    env_file: .env
    networks:
      - traefik
    volumes:
      - "/mailu/filter:/var/lib/rspamd"
      - "/mailu/dkim:/dkim"
      - "/mailu/overrides/rspamd:/etc/rspamd/override.d"
    deploy:
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"
    depends_on:
      - front

  antivirus:
    image: "mailu/none:latest"
    env_file: .env
    networks:
      - traefik
    volumes:
      - "/mailu/filter:/data"
    deploy:
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"

  webdav:
    image: "mailu/radicale:latest"
    env_file: .env
    networks:
      - traefik
    volumes:
      - "/mailu/dav:/data"
    deploy:
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"

  admin:
    image: "mailu/admin:latest"
    env_file: .env
    networks:
      - traefik
    ports:
      - "0.0.0.0:8080:80"
    volumes:
      - "/mailu/data:/data"
      - "/mailu/dkim:/dkim"
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - redis
    deploy:
      labels:
      - "traefik.port=80"
      - "traefik.backend=mailu-admin"
      - "traefik.frontend.rule=Host:mail.postremus.de"
      - "traefik.docker.network=common_mail_traefik"
      - "traefik.frontend.auth.basic.usersFile={{ htpasswd_locations.monitoring }}"
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"
  webmail:
    image: "mailu/rainloop:latest"
    env_file: .env
    networks:
      - traefik
    ports:
      - "0.0.0.0:8081:80"
    volumes:
      - "/mailu/webmail:/data"
    deploy:
      labels:
      - "traefik.port=80"
      - "traefik.backend=mailu-webmail"
      - "traefik.frontend.rule={{ frontend_rules.mailu }}"
      - "traefik.docker.network=common_mail_traefik"
      - "traefik.frontend.auth.basic.usersFile={{ htpasswd_locations.monitoring }}"
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"

  fetchmail:
    image: "mailu/fetchmail:latest"
    env_file: .env
    networks:
      - traefik
    volumes:
      - "/mailu/data:/data"
    deploy:
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"
  debian:
    image: "debian"
    networks:
      - traefik
    deploy:
      placement:
        constraints:
        - "node.role == worker"
        - "node.labels.environment == prod"
        - "node.labels.purpose == mail"
    stdin_open: true
    tty: true
networks:
  traefik:
    driver: overlay